* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.counterMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

}

.counterMain>div {
    background-color: #fff;
    color: rgba(0, 0, 0, .6);
    width: 350px;
    height: 200px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}